---
---

$color-1: #004e78;

body {
  padding-top: 50px;
}

h1 {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 52px;
}

.big {
  padding-top: 70px;
  padding-bottom: 50px;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
}

p.privacy {
  margin-top: 5px;
  font-size: 14px;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
}

.subscription {
  bottom: 23%;
  margin-left: 4.2%;
  position: absolute;
  width: 45.83%;
  .description {
    min-width: 310px;    
    background-color: rgba(1,152,161,0.5);
  }
  .subscription-form {
    bottom: 0;
    background-color: rgba(1,152,161,1);
  }
  .text {
    margin-left: 8.5%;
  }
  .subscription-input {
    width: 51%;
    min-width: 310px;
  }
}

.btn {
  height: 56px;
  width: 150px;
}

.form-control-fixed {
  height: 56px !important;
  width: 450px; 
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-weight: 400;
  font-family: Roboto;
  font-size: 16px;
}

.content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sub-content {
  position: relative;
}

.btn {
  border-radius: 0;
  color: #ffffff;
  background-color: $color-1;
}

.form-control {
  height: auto !important;
  border-radius: 0;
}

.my-navbar {
  margin: 0;
  background-color: $color-1;
  color: #ffffff;
  border-radius: 0;
}

.main-navbar {
  background-color: #ffffff;
}

section.right {
  height: 600px;
}

section.left {
  height: 600px;
} 

.navbar-header {
  margin-left: 8.3%;
}

.img-sized {
  width: 540px;
  height: auto;
}

.article {
  margin-left: 10.4%;
  margin-right: 10.4%;
}

label {
  padding-top: 15px;
  margin-bottom: 10px;
  display: block;
}

span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
}

.white {
  color: #ffffff;
}

.blacky {
  color: #555555;
}

.light {
  font-weight: 300;
}

p.light {
  font-size: 20px;
}

section {
  display: block;
}

.bordered {
  border-bottom: 3px solid #0198a1;
  padding-bottom: 70px;
  padding-top: 70px;
}