<div class="site-footer">
  <div class="content extra-margin">
    <ul>
      <li class="likesBox"> 
        <p class="share">Поделиться</p>     
        <a href="http://vk.com/share.php?url={{ site.url }}&title={{ site.title }}&description={{ site.description }}" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <img src="img/vk.png" class="social-icon" />
        </a>
        
        <a onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://twitter.com/share?hashtags=smartbikes&text=Умный прокат классных велосипедов для любителей активного отдыха в Омске&url={{ site.url }}" class="twitter-share-button" data-lang="en">
          <img src="img/twitter.png" class="social-icon" />
        </a>

        <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <img src="img/fb.png" class="social-icon" />
        </a>

        <a href="https://plus.google.com/share?url={{ site.url }}" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <img src="img/plus.png" class="social-icon" />
        </a>
      </li>
      <li class="copyright">
        <p>&copy; Smart Bikes, Летняя стажировка <a class="white" href="http://7bits.ru/ru">7bits</a>, 2014</p>
      </li>
    </ul>
  </div>
</div>
