<head>
    <meta name='yandex-verification' content='408ee3ef214574fc' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- favicons -->
    <link rel="icon" type="image/x-icon" href="{{ "favicon/64.ico" | prepend: site.baseurl }}"/>
    <link rel="icon" type="image/x-icon" href="{{ "favicon/32.ico" | prepend: site.baseurl }}"/>
    <link rel="icon" type="image/x-icon" href="{{ "favicon/favicon.ico" | prepend: site.baseurl }}"/>
    <link rel="icon" type="image/png" href="{{ "favicon/160.png" | prepend: site.baseurl }}"/>
    <link rel="icon" type="image/png" href="{{ "favicon/favicon.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="{{ "favicon/512.png" | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "favicon/144.png" | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "favicon/apple-touch-icon-114x114-precomposed.png" | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "favicon/apple-touch-icon-72x72-precomposed.png" | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ "favicon/apple-touch-icon-57x57-precomposed.png" | prepend: site.baseurl }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{site.url}}/favicon/144.png" />
    <!-- end favicons -->

    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <link rel="image_src" href="{{ site.url }}/img/smartbikes_logo_text.jpg" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <script type="text/javascript" src="{{ "js/likes.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "js/faq.js" | prepend: site.baseurl }}"></script>

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:image" content="{{ site.url }}/img/smartbikes_logo_text.jpg" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:locale" content="ru_RU" />

    <meta content="summary" name="twitter:card" />
    <meta content="{{ site.title }}" name="twitter:title" />
    <meta content="{{ site.url }}/img/smartbikes_logo_text.jpg" name="twitter:image" />
    <meta content="{{ site.description }}" name="twitter:description" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ "css/app.css" | prepend: site.baseurl }}">
</head>
