<div class="section">
  <div class="raw">
    <div class="sub-content">
      <div class="content extra-margin small-no-margin">
        <div class="subscription">
          <div class="description">
            <div class="text">
              <h1 class="big white">Скоро</h1>
              <p class="white">Умный прокат велосипедов в городе Омске</p>
            </div>
            <div class="subscription-form">
              <div class="text-aligned">
                <a href="{{ site.form_url }}" class="btn btn-big" target="_blank">Хочу прокатиться первым</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>