<div class="section">
  <div class="raw">
    <div class="sub-content">
      <img src="img/background.jpg" class="img-responsive" />
      <div class="content">
        <div class="subscription">
          <div class="description">
            <div class="text">
              <h1 class="big white">Smart Bikes</h1>
              <p class="white">Система проката умных велосипедов</p>
              <br>
            </div>
            <div class="subscription-form">
              <div class="text">
                <a href="#" class="btn btn-big">Хочу прокатиться первым!</a>
                <div id="responseBox"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>