<div class="section">
  <div class="raw">
    <div class="content">
      <div class="sub-content">
        <img src="img/bike_pic.jpg" class="img-responsive" />
        <div class="subscription">
          <div class="description">
            <div class="text">
              <h1 class="big white">Smart Bikes</h1>
              <p class="white">Омичи!</p>
              <p class="white">Система проката умных</p>
              <p class="white">велосипедов в процессе разработки!</p>
            </div>
            <div class="subscription-form">
              <div class="text">
                <form class="form-inline" id="js-subscribe">
                  <label for="entry_email">
                    <span class="white">Хочу прокатиться первым!</span>
                  </label>
                  <input placeholder="Адрес эл. почты" class="form-control-fixed subscription-input" id="entry_email" name="email" type="email" />
                  <input class="btn btn-green" type="submit" value="Subscribe" />
                </form>
                <p class="privacy white">Вы можете отменить подписку в любой момент. </p>
                <div id="likesBox">
                  <div id="vkLike"></div>
                </div>
                <div id="responseBox"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>